<div class="col-lg-12 text-center">
  <h1>A Ruby on Rails Application</h1>
  <p class="lead">This allows users to send messages to each other that can only be read once!</p>
  <button class="btn btn-primary">Login</button>
  <button class="btn btn-success">Signup</button>
</div>